body{

    text-align: center;
    background-image: url("/static/image.jpg");
    background-size: cover;

}

#container{

border:5px solid #948e8e ;
border-radius: 3px;
margin-top: 40px;
margin-bottom: 4px;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 500px;
margin-right: 500px;
    
}

#moviebox{

    padding-top: 100px;

}
.shadow{
    text-size-adjust:  5px;
    text-emphasis-color : yellow ; 
}